/**
 * @name a theme for visual refresh
 * @author bitmoji
 * @version 1
 * @description use with legacy chatbar
*/

@import url('modules/smaller_chatbox.css');
@import url('modules/hide_stuff.css');
@import url('modules/minified_member_list.css');
@import url('modules/old_userpanel.css');
@import url('modules/scrollbar.css');
@import url('modules/spotify_controls.css');
@import url('modules/x_to_twitter.css');
@import url('modules/hide_stuff.css');

:root {
    --accentcolor: 130, 104, 179;
    --album-name: flex;
}

[class^="descriptionClamp_"] {
    max-height: max-content;
    -webkit-box-orient: unset;
}

[class^="viewFullBio_"] {
    display: none;
}