/**
 * @name a theme for visual refresh
 * @author bitmoji
 * @version 1.22
 * @description hi
*/

@import url('modules/consistent_bottom_bar.css');
@import url('modules/hide_stuff.css');
@import url('modules/minified_member_list.css');
@import url('https://davart154.github.io/Themes/Snippets/Simplified%20Panel%20Area/SimplifiedPanelArea.css');
@import url('modules/scrollbar.css');
@import url('modules/x_to_twitter.css');
@import url('modules/hide_stuff.css');

:root {
    --accentcolor: 130, 104, 179;
    --album-name: flex;
}

[class^="descriptionClamp_"] {
    max-height: max-content;
    -webkit-box-orient: unset;
}

[class^="viewFullBio_"] {
    display: none;
}
