[class^="form_"] {
    padding: 0px;
    border: 0px;
    border-top: 1px solid var(--border-subtle);
}

[class^="channelTextArea_"] {
    margin: 0px;
}

[class^="scrollableContainer_"] {
    border-radius: 0;
    padding-top: 4px;
    min-height: 48px;
}

/* Move typing indicators */
[class^="typing_"] {
    top: -24px;
    left: 0px;
    width: fit-content;
    padding-right: 9px;
    border-radius: 0 8px 0 0;
    background: var(--bg-overlay-3, var(--channeltextarea-background));
}

/* Remove single pixel margin from user container */
.container__37e49 {
    margin: -1px;
    border: 0px;
    border-top: 1px solid var(--border-subtle);
}

[class^=channelAppLauncher_] {
    display: none;
}

[class*=unreadMentionsFixedFooter_] {
    bottom: 0px !important;
}

[class^=footer_]:has([class*=fixedDiscoveryIcon_]) {
    display: none;
}