a[class^="link_"][href^="/channels/@me/"]:has(rect[fill*="#23a55a"]) {
    background: linear-gradient(to right, rgba(68, 105, 68, 0.25), transparent);
}

a[class^="link_"][href^="/channels/@me/"]:has(rect[fill*="#f0b232"]) {
    background: linear-gradient(to right, rgba(135, 105, 75, 0.25), transparent);
}

a[class^="link_"][href^="/channels/@me/"]:has(rect[fill*="#80848e"]) {
    background: linear-gradient(to right, rgba(66, 66, 66, 0.25), transparent);
}

a[class^="link_"][href^="/channels/@me/"]:has(rect[fill*="#f23f43"]) {
    background: linear-gradient(to right, rgba(130, 70, 70, 0.25), transparent);
}

a[class^="link_"][href^="/channels/@me/"]:has(rect[fill*="#593695"]) {
    background: linear-gradient(to right, rgba(63, 33, 88, 0.25), transparent);
}

[class^="link_"][aria-label*="(group message)"] {
    background: linear-gradient(to right, rgba(55, 55, 55, 0.25), transparent);
}

[class^="memberInner"]:has(div>div[aria-label*="Online"]) {
    background: linear-gradient(to right, rgba(68, 105, 68, 0.25), transparent);
}

[class^="memberInner"]:has(div>div[aria-label*="Idle"]) {
    background: linear-gradient(to right, rgba(135, 105, 75, 0.25), transparent);
}

[class^="memberInner"]:has(div>div[aria-label*="Do Not Disturb"]) {
    background: linear-gradient(to right, rgba(130, 70, 70, 0.25), transparent);
}

[class^="memberInner"] {
    background: linear-gradient(to right, rgba(66, 66, 66, 0.25), transparent);
}

[class^="memberInner"]:has(div>div[aria-label*="Streaming"]) {
    background: linear-gradient(to right, rgba(63, 33, 88, 0.25), transparent);
}