/**
 * @name a theme
 * @author bitmoji
 * @version 2
 * @description hi
*/

@import url(https://raw.githubusercontent.com/mwittrien/BetterDiscordAddons/master/Themes/DiscordRecolor/DiscordRecolor.css);

:root {
  --accentcolor: 130, 104, 179;
  --accentcolor2: 255, 173, 252;
  --linkcolor: 130, 104, 179;
  --mentioncolor: 255, 173, 252;
  --successcolor: 59, 165, 92;
  --warningcolor: 250, 166, 26;
  --dangercolor: 237, 66, 69;
  --textbrightest: 255, 255, 255;
  --textbrighter: 220, 220, 220;
  --textbright: 185, 185, 185;
  --textdark: 142, 142, 142;
  --textdarker: 120, 120, 120;
  --textdarkest: 80, 80, 80;
  --backgroundaccent: 47, 49, 63;   /*18, 19, 19;*/
  --backgroundprimary: 30, 31, 40;  /*13, 14, 14;*/
  --backgroundsecondary: 39, 40, 51;  /*12, 13, 13;*/
  --backgroundsecondaryalt: 47, 49, 63;   /* 9, 10, 10;*/
  --backgroundtertiary: 54, 58, 74;   /*9, 10, 10;*/
  --backgroundfloating: 47, 50, 61;   /*23, 24, 24;*/
}

/* ----- scroller color -----
 */
:is(.scroller-kQBbkU,
  .auto-2K3UW5,
  .thin-RnSY0a,
  .peopleColumn-1wMU14,
  .contentRegionScroller-2_GT_N,
  .scrollerBase-1Pkza4)::-webkit-scrollbar-thumb {
  background-color: rgb(var(--accentcolor));
}

/* hide things */
[class^="threadSuggestionBar"],
.newMessagesBar-1hF-9G,
.unreadMentionsBar-ZXXoOH {
  display: none !important
}

/* replace x with twitter in connections */
.connectedAccountIcon-3FdW8x[aria-label="X"] {
  content: url("https://shie100.github.io/random-files/bird.svg");
}

/*  show full bio thing */
div[class*="lineClamp2Plus"] {
  display: block;
}

/* sticky forum header */
.scrollerInner-2PPAp2 {
  overflow: unset;
}

/* old pleading and hold back tear emoji */
.emoji[alt="🥹"] {
  content: url("https://vendicated.github.io/random-files/face_holding_back_tears.svg");
}

.emoji[alt="🥺"] {
  content: url("https://vendicated.github.io/random-files/pleading_face.svg");
}

/* remove library & nitro in dm*/
.privateChannels-oVe7HL [href="/store"],
[href="/library"] {
    display: none;
}

/* dashless channel names */
@font-face {
    font-family: "Dashless";
    src: url("https://vendicated.github.io/random-files/Dashless.woff2") format("woff2");
}

[data-list-item-id^=channels___],
/* channel list */
[class^=titleWrapper]>h1,
/* top bar with topic */
[class^=resultChannel],
/* channel name in search */
[class^=channelMention],
/* channel mentions in chat */
[class^=placeholder][class*=slateTextArea]

/* "send a message in #blah" */
    {
    font-family: "Dashless", var(--font-primary);
}

/* remove login artwork */
svg.artwork-L5TAwQ {
  display: none !important;
  visibility: hidden !important;
}

/* ----- Aligned Chatbox -----
  Squares up chatbox with user control area */
/* align edges of chatbox to sides */
:is(main, section)[class^=chatContent]>form {
  padding: 0px;
}

/* align chatbox to bottom */
:is(main, section)[class^=chatContent]>form>*:first-child {
  margin-bottom: 0px;
}

/* center chatbox contents, no border radius */
:is(main, section)[class^=chatContent]>form>*:first-child>* {
  padding-top: 4px;
  min-height: 49px;
  border-radius: 0px;
}

/* slowmode/typing indicator */
:is(main, section)[class^=chatContent]>form>*:last-child[class^=typing] {
  top: -24px;
  right: 0px;
  margin-left: auto;
  width: fit-content;
  padding-left: 2px;
  padding-right: 9px;
  border-top-left-radius: 8px;
  background-color: var(--channeltextarea-background);
}

/* Fix replies */
main[class^=chatContent]>form>*>[class^=attachedBars] {
  min-height: unset !important;
  padding-bottom: 4px;
}

/* jump to present */
[class^=jumpToPresentBar] {
  left: 0;
  border-radius: 0px;
  border-top-right-radius: 8px;
  opacity: 1;
  background-color: var(--channeltextarea-background);
  right: unset;
}

[class^=jumpToPresentBar]>[class^=barButtonMain] {
  flex: 0 0 auto;
  display: none;
}

/* FIX THIS NOW */
.userPopoutOverlayBackground-3A0Pcz {
  max-height: 60vh;
}


/*  ----- minified members and search-----
 */
.container-2vWgD2 {
  width: 0%;
}

.members-2y1nVj,
.membersWrap-3GwLFp,
.searchResultsWrap-5RVOkx {
  width: 64px;
  min-width: 64px;
  z-index: 1;
  transition: 0.3s ease-in;
}

.membersGroup-2YoqY- {
  opacity: 0;
  padding: 0;
  height: 0;
  transition: 0.1s ease-out;
}

.membersWrap-3GwLFp:hover .membersGroup-2YoqY- {
  opacity: 100%;
  height: 40px;
  padding: 24px 8px 0 16px;
  transition: 0.1s ease-in ;
}

.members-2y1nVj:hover,
.membersWrap-3GwLFp:hover {
  width: 240px;
}

.searchResultsWrap-5RVOkx:hover {
  width: 420px;
}

.searchResultGroup-1lU_-i {
  width: 390px;
}

.membersWrap-3GwLFp,
.searchResultsWrap-5RVOkx {
  position: absolute;
  right: 0;
  height: 100%;
  box-shadow: none;
}

.chatContent-2O4SXb {
  min-width: calc(100% - 64px);
  max-width: calc(100% - 64px);
}
