/**
 * @name a theme
 * @author bitmoji
 * @version 2
 * @description hi
*/

@import url(https://raw.githubusercontent.com/mwittrien/BetterDiscordAddons/master/Themes/DiscordRecolor/DiscordRecolor.css);

:root {
  --accentcolor: 130, 104, 179;
  --accentcolor2: 255, 173, 252;
  --linkcolor: 130, 104, 179;
  --mentioncolor: 255, 173, 252;
  --successcolor: 59, 165, 92;
  --warningcolor: 250, 166, 26;
  --dangercolor: 237, 66, 69;
  --textbrightest: 255, 255, 255;
  --textbrighter: 220, 220, 220;
  --textbright: 185, 185, 185;
  --textdark: 142, 142, 142;
  --textdarker: 120, 120, 120;
  --textdarkest: 80, 80, 80;
  --backgroundaccent: 47, 49, 63;   /*18, 19, 19;*/
  --backgroundprimary: 30, 31, 40;  /*13, 14, 14;*/
  --backgroundsecondary: 39, 40, 51;  /*12, 13, 13;*/
  --backgroundsecondaryalt: 47, 49, 63;   /* 9, 10, 10;*/
  --backgroundtertiary: 54, 58, 74;   /*9, 10, 10;*/
  --backgroundfloating: 47, 50, 61;   /*23, 24, 24;*/
}

/* ----- scroller color ----- */
:is(.scroller__4b984,
  .auto_a48086,
  .thin_b1c063,
  .peopleColumn__51df3,
  .contentRegionScroller__86c79, 
  .scrollerBase_dc3aa9)::-webkit-scrollbar-thumb {
  background-color: rgb(var(--accentcolor));
}

/* replace x with twitter in connections */
.connectedAccountIcon__6bc30[aria-label="X"] {
  content: url("https://shie100.github.io/random-files/bird.svg");
}

/*  show full bio thing */
div[class*="lineClamp2Plus"] {
  display: block;
}

/* sticky forum header */
.scrollerInner__059a5 {
  overflow: unset;
}

.card__691f2 {
  min-width: calc(100% - 64px);
  max-width: calc(100% - 64px);
}

/* old pleading and hold back tear emoji */
.emoji[alt="🥹"] {
  content: url("https://vendicated.github.io/random-files/face_holding_back_tears.svg");
}

.emoji[alt="🥺"] {
  content: url("https://vendicated.github.io/random-files/pleading_face.svg");
}

/* FIX THIS NOW */
.userPopoutOverlayBackground_d8afa4 {
  max-height: 60vh;
}

/* remove library & nitro in dm*/
.privateChannels__93473 [href="/store"],
[href="/library"], [href="/shop"] {
    display: none;
}


/* dashless channel names */
@font-face {
    font-family: "Dashless";
    src: url("https://vendicated.github.io/random-files/Dashless.woff2") format("woff2");
}

[data-list-item-id^=channels___],
/* channel list */
[class^=titleWrapper]>h1,
/* top bar with topic */
[class^=resultChannel],
/* channel name in search */
[class^=channelMention],
/* channel mentions in chat */
[class^=placeholder][class*=slateTextArea]

/* "send a message in #blah" */
    {
    font-family: "Dashless", var(--font-primary);
}

/* ----- consistent bottom bar ----- */
.form__13a2c {
  padding: 0;
}

.channelTextArea__2e60f {
  margin: 0;
}

.scrollableContainer__33e06 {
  border-radius: 0;
  padding-top: 4px;
  min-height: 48px;
}

/* Move typing indicators */
.typing__6fd1d {
  top: -24px;
  left: 0px;
  width: fit-content;
  padding-right: 9px;
  border-radius: 0 8px 0 0;
  background: var(--bg-overlay-3,var(--channeltextarea-background));
}

/* Remove single pixel margin from user container */
.container_ca50b9 {
  margin: 0;
}

/*  ----- minified members and search----- */
.container_b2ce9c {
  width: 0%;
}

.members__9f47b,
.membersWrap__90226,
.searchResultsWrap__9f374 {
  width: 64px;
  min-width: 64px;
  z-index: 1;
  transition: 0.3s ease-in;
}

.membersGroup__85843 {
  opacity: 0;
  padding: 0;
  height: 0;
  transition: 0.1s ease-out;
}

.membersWrap__90226:hover .membersGroup__85843 {
  opacity: 100%;
  height: 40px;
  padding: 24px 8px 0 16px;
  transition: 0.1s ease-in ;
}

.members__9f47b:hover,
.membersWrap__90226:hover {
  width: 240px;
}

.searchResultsWrap__9f374:hover {
  width: 420px;
}

.searchResultGroup__35ba9 {
  width: 390px;
}

.membersWrap__90226,
.searchResultsWrap__9f374 {
  position: absolute;
  right: 0;
  height: 100%;
  box-shadow: none;
}

.chatContent__5dca8{
  min-width: calc(100% - 64px);
  max-width: calc(100% - 64px);
}

.chatContent__5dca8[aria-label=" (channel)"]{
  min-width: 100%;
  max-width: 100%;
}
