/* Jump To Present Bar Revamp */
[class*="jumpToPresentBar"] {
    display: contents;
}

[class*="jumpToPresentBar"]>button:first-child {
    display: none;
}

[class*="jumpToPresentBar"]>button:last-child {
    position: absolute;
    z-index: 1;
    bottom: 24px;
    right: 22px;
    padding: 8px !important;
    height: auto;
    background-color: var(--background-secondary-alt);
    box-shadow: var(--elevation-high);
    border-radius: 100px;
    display: flex;
    font-size: 0px;
    color: transparent;
    transition: font-size .2s .1s, color .2s, width .4s .1s;
}

[class*="jumpToPresentBar"]>button {
    order: -1;
    margin: 0px;
    height: 32px;
    width: 32px;
    top: auto;
    margin-right: 0px;
    margin-left: 0px;
    color: #FFFFFF;
    transition: margin .6s;
    content: url("https://img.icons8.com/?size=100&id=40021&format=png&color=FFFFFF")
}

[class*="jumpToPresentBar"]:hover>button {
    width: 38px;
    font-size: 14px;
    color: #FFFFFF;
    transition: font-size .2s, color .2s .1s, width .4s;
}
