[class*="AppLauncher"] {
     display: none !important;
 }
 
 .visual-refresh [class^="form_"] {
     margin: 0;
     padding: 0;
     border-top: 1px var(--border-subtle) solid;
     border-radius: 0px;
 }
 
 .visual-refresh [class^="channelTextArea_"] {
     margin: 0px;
     border: 0;
     border-radius: 0;
 }
 
 .visual-refresh [class^="scrollableContainer_"] {
     border-radius: 0;
     padding-top: 4px;
     min-height: 53px;
 }
 
 /*Move typing indicators */
 .visual-refresh [class^="typing_"] {
     top: -24px;
     left: 0px !important;
     width: fit-content;
     padding-right: 9px;
     padding-left: 9px;
     border-radius: 0 8px 0 0;
     color: #fff !important;
     font-size: 12px !important;
     background: var(--bg-overlay-3, var(--channeltextarea-background));
 }
 
 .visual-refresh [class*=unreadMentionsFixedFooter_] {
     bottom: 0px !important;
 }
