[class*=header_]:has(+[class*=premiumTab_]),
[class*=premiumTab_],
[class*=premiumTab_]+[class*=item_],
[aria-label="Subscriptions"],
[aria-label="Gift Inventory"],
[aria-label="Gift Inventory"]+[class*=item_],
[aria-label="Gift Inventory"]+[class*=item_]+[class*=separator_],

[href="/store"],
[href="/shop"],

[href="https://support.discord.com"],

#profile-customization-tab>[class*=container_],
[class*=bannerNitroUpsell_],
[class*=customizationSection_]:has(>h3>[class*=premiumBadge_]),
[class*=tryItOutSection_],
[class*=upsellOverlayContainer_],


[class*=effectsWrapper_],
[class*=burstGlow_],

[aria-label="Servers sidebar"]>ul>div>[aria-label="Servers"]~[class*=listItem_],

[aria-label="Channels"]>[aria-label$="perks!"],

.messagelogger-edited,

[class*=threadSuggestionBar_],
[class*=popout_]:has(>[class*=more_]),

#channel-context-invite-people,
[class*=separator_]:has(+div>#guild-context-invite-people),
#guild-context-invite-people,


#user-context-invite-to-server,
#user-context-call,
/*#user-context-note,
#user-context-add-friend-nickname,*/
#user-context-close-dm,

#message-actions>div>[class*=wrapper],
/*#message-actions-add-reaction-0,
#message-actions-edit,
#message-actions-pin,*/
#message-actions-thread,
#message-actions-mark-unread,
#message-actions-copy-link,
#message-actions-tts,
#message-actions-report,
[class*=separator_]:has(+div>[id*=message-actions-devmode-copy-id]),
[id*=message-actions-devmode-copy-id],

#message>div>[class*=wrapper_],
#message-add-reaction-0,
#message-edit,
/*#message-pin,*/
#message-thread,
#message-mark-unread,
#message-copy-link,
#message-tts,
#message-report,
[class*=separator_]:has(+div>[id*=message-devmode-copy-id]),
[id*=message-devmode-copy-id],

[aria-label="Create Invite"],
[aria-label="Invite to Server"],

[aria-label="Send a gift"],

[aria-label="Mark Unread"],
[aria-label="Copy Message ID"],
[aria-label="Enable Super Reactions"] {
    display: none !important;
}

/* channel scroller height fix */
[aria-label="Channels"] {
    height: unset !important;
}

/* super reaction */
[class*=hideEmoji_] {
    opacity: 1;
}

[class*=shakeReaction_] {
    animation: none !important;
}

/*[class*=avatarDecoration_],
[class*=premiumIconWrapper_], */
[class*=profileEffects_] {
    display: none;
}

/* recent activty */
[class^='membersGroup']:has([role=button]),
[class^='member'] [class^='container']:has([class*='badges']) {
  display: none;
}

/* hide friend button in small user profile */
[class*="biteSize_"] :is([aria-label="Add Friend"], [aria-label="Friend"]) {
  display: none;
}

/* hide big discord nitro thing noone gaf about */
[class^="tooltipWordmarkContainer_"] {
  display: none;
  padding: 0;
}

[class^="tooltipContainer_"]>img {
  display: none;
}

[class^="tooltipContainer_"]>h1 {
  display: none;
  padding: 0;
}

[class^="tooltipContainer_"] {
  padding: 0;
  margin: 0 auto;
}

[class^="tooltipDescription_"] {
  color: white !important;
  font-size: 14px;
  padding: 0;
}
