.container_c8ffbb {
    width: 0%;
}

[class^="members_"],
[class^="membersWrap_"],
[class^="searchResultsWrap"] {
    width: 64px;
    min-width: 64px;
    z-index: 1;
    transition: 0.3s ease-in;
    border-left: 1px solid var(--border-subtle);
}


[class^="members_"]:hover,
[class^="membersWrap_"]:hover {
    width: 240px;
}

[class^="searchResultsWrap"]:hover {
    width: 420px;
}

[class^="searchResultGroup_"] {
    width: 390px;
}

[class^="membersWrap_"],
[class^="searchResultsWrap"] {
    position: absolute;
    right: 0;
    height: 100%;
    box-shadow: none;
}

[class^="chatContent_"] {
    min-width: calc(100% - 64px);
    max-width: calc(100% - 64px);
}

[class^="chatContent_"][aria-label=" (channel)"] {
    min-width: 100%;
    max-width: 100%;
}
