.visual-refresh [class^="panels_"] {
    bottom: 0px;
    left: 65px;
    width: calc(100% - 65px);
    border-radius: 0px;
    background-color: var(--background-primary);
    border: 0;
    border-top: 1px solid var(--border-subtle);
    >[class^="container_"] {
        padding: 0px;
        margin: 0 8px;
        height: 57px;
    }
}

.visual-refresh [class^="sidebar_"]>[class*="guilds_"] {
    margin-bottom: 0px;
}

.visual-refresh .panel__5dec7 {
    border-radius: 0px;
    background-color: var(--background-primary);
}
