.visual-refresh [class^="form_"], [class^="formWithLoadedChatInput_"] {
    margin-left: -9px;
    margin-right: -9px;
    margin-bottom: -8px;
    border-radius: 0;
}

.visual-refresh [class^="channelTextArea_"] {
    border-radius: 0;
    border-top: 1px solid var(--border-subtle);
}

.visual-refresh [class^="textArea__"] {
    border-bottom: 1px solid var(--border-subtle);
}

.visual-refresh [class^="accessoryBar__"] {
    height: 0px;
    opacity: 0;
    transition: 200ms linear 50ms;
    border: 0px;
}

.visual-refresh [class^="channelTextArea_"]:hover {
    >[class^="accessoryBar__"] {
        height: 20px;
        opacity: 100;
        transition: 200ms linear 50ms;
    }
}
