:root {
	--sidebar-width: 20px;
    --release-width: 25px;
}

.sidebar-1tnWFu {
    position: relative;
    width: var(--sidebar-width);
    transition: width 600ms ease 100ms;
}

.sidebar-1tnWFu nav,
.panels-3wFtMD {
    overflow: hidden;
}

.sidebar-1tnWFu::after {
    position: absolute;
    content: "";
    right: 0;
    width: var(--sidebar-width);
    height: 100%;
    background: var(--background-secondary);
    z-index: 1000;
    transition: all 200ms ease 100ms;
}

.sidebar-1tnWFu:hover,
.sidebar-1tnWFu:focus-within {
    width: 240px;
}

.sidebar-1tnWFu:hover.sidebar-1tnWFu::after,
.sidebar-1tnWFu:focus-within.sidebar-1tnWFu::after {
    right: calc(var(--release-width) * -1);
    width: var(--release-width);
    opacity: 0;
}
